
<div class="row marks">
  <%= render "shared/form_errors", record: @mark %>

  <div class="col s8 offset-s2">
    <p class="title">Alterar Meta da Loja <%= @store.name %></p>
  </div>

  <%= render "form" %>

</div>
