<div class="row stores">

  <div class="col s8 offset-s2">
    <p class="title">Informações da Loja</p>
  </div>

  <div class="store">
    <div class="row cards">
      <div class="col s8 offset-s2">
        <div class="card horizontal">
          <div class="card-content col s12">
              <div class="row">
                <div class="row">
                  <div class="col s8 l4">
                    <p> <%= @store.name %></p>
                  </div>
                  <div class="col s2 m1 input-field">
                    <a href='<%= "/stores/#{@store.id}/edit" %>' >
                      <i class="material-icons icon">edit</i>
                    </a>
                  </div>
                  <div class="col s2 m1 input-field">
                    <a data-confirm="Você tem certeza?" rel="nofollow" data-method="delete" href='<%= "/stores/#{@store.id}" %>'>
                      <i class="material-icons icon">delete</i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="col s8 offset-s2">
    <p class="title">Vendedores</p>
  </div>

  <div class="store">
    <div class="row cards">
      <div class="col s8 offset-s2">
        <div class="card horizontal">
          <div class="card-content col s12">
              <div class="row">
                <% @store.sellers.each do |seller| %>
                  <div class="row">
                    <div class="col s12 l4">
                        <p><%= seller.name %></p>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col s8 offset-s2">
      <p class="title">Metas</p>
    </div>


</div>
