.stores{
  margin-top: 4%;

  .title{
    color: #4286f4;
    font-size: 22px;
    margin-bottom: 5px;
  }

  .stores-btn{
    margin-bottom: 40px;
  }

  .cards{
    .card{
      .title{
        font-size: 20px;
      }
      .enter{
        .btn{
          margin-top: 15%;
          height: 45px;
          padding-top: 5px;
        }
      }
    }
  }

  .store{
    .row{
      margin-bottom: 0px;
    }

    .btn-actions{
      margin-top: 20px;
    }

    .members{
      margin-top: 20px;
      .member{
        .icon{
          color: #aaa;
          margin-top: 20px;
        }
        .opened{
          color: #4CAF50 !important;
        }
      }
      .add{
        margin-right: 30px;
        margin-top: -34px;
        width: 35px;
        height: 35px;
        line-height: 35px;
        i{
          font-size: 1.4rem;
          line-height: 35px;
        }
      }
    }
  }
}
